
:root {
  --container-width: 100%;
  --bs-gutter-x: 1.5rem;
  --accumulated-width: calc(100% - (var(--container-width) - var(--bs-gutter-x)));
  @media (width >= #{$extraSmall}) {  --container-width: 540px; }
  @media (width >= #{$small}) {  --container-width: 720px; }
  @media (width >= #{$medium}) {  --container-width: 960px;     }
  @media (width >= #{$large}) {  --container-width: 1140px; }
  @media (width >= #{$extraLarge}) {  --container-width: 1320px; }


  /* ======== [ Desktop View ] ======== */
  @media (width < #{$large}) { 
    --container-width: 1140px; 
    .hide-large { display: none !important; }
  }
  /* ======== [ Tablet Large View ] ======== */
  @media (width < #{$extraLarge}) { 
    --container-width: 1320px; 
    .hide-extra-large {
      display: none !important;
    }
  }
  /* ======== [ Tablet View ] ======== */
  @media (width < #{$medium}) { 
    --medium-size: 1000px;
    .hide-medium {
      display: none !important;
    }
  }
  /* ======== [ Mobile View ] ======== */ 
  @media (width < #{$small}) { 
    --container-width: 1320px;
    .hide-small, .hide-mobile {
      display: none !important;
    }
  }
  @media (width < #{$extraSmall}) {
    .hide-extra-small, .hide-mobile {
      display: none !important;
    }
  }

}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  max-width: var(--container-width);
}

@media (width <= #{$medium}) {
  :root {
    --mobile-padding: 3.15vw;
    --container-width: 100%;
  }
  .container {
    padding-inline: var(--mobile-padding);
  }
}
@media (width <= #{$medium}) {
  :root {
    --mobile-padding: 4vw;
  }
}