@import './../../mixins/common-mixins';
@import './../../BlogCard.scss';

:root {
  --block-padding: calc(1rem + 1vw);
  --aside-width: 400px;
  --blog-details-banner-height: calc(300px + 5vw);
}
.blog-details-banner {
  position: relative;
  padding-inline: var(--fluid-container-padding);
  @media (width <= #{$medium}) {
    padding: 0;
  }
}
.blog-listing-section {
  position: relative;
  padding-block: calc(var(--block-padding) / 1.5);
  .blog-listing-content {
    position: relative;
    width: 100%;
    display: flex;
    gap: var(--block-padding);
    main {
      width: 100%;
    }
    aside {
      position: sticky;
      inset-block-start: calc(var(--header-height) + 1rem);
      height: 500px;
      background-color: var(--primary-100);
      width: var(--aside-width);
    }
  }
}

.blog-details-section {
  position: relative;
  padding-block: calc(var(--block-padding) / 2);
  padding-block-end: calc(var(--block-padding) / 1);

  .blog-details-banner {
    position: relative;
    width: 100%;
    border-radius: calc(var(--border-radius) * 2);
    
    &__image {
      position: relative;
      width: 100%;
      border-radius: inherit;
      height: var(--blog-details-banner-height);
      @include objectFit($fit: cover);
    }
    &__content {
      position: absolute;
      inset: 0;
      border-radius: inherit;
      padding: var(--block-padding);
      display: flex;
      align-items: flex-end;
      // background-color: rgba(var(--bs-dark-rgb), 0.5);
      color: var(--bs-white);
      text-wrap: balance;
      text-align: center;
      background-image: linear-gradient(to bottom, rgba(var(--bs-dark-rgb), 0) 0%, rgba(var(--bs-dark-rgb), 1) 100%);
    }
  }
  .blog-details {
    position: relative;
    z-index: 1;
    margin-block-start: -5rem;
    width: 100%;
    max-width: 850px;
    margin-inline: auto;
    background-color: var(--primary-100);
    padding: var(--block-padding);
    border-radius: calc(var(--border-radius) * 2);
    @include cardShadow();
    h1, h2, h3, h4, h5, h6 { 
      font-family: var(--merriweather-font);
      font-weight: 700;
    }
    img {
      margin: 0.5rem;
      border-radius: var(--border-radius);
    }
    blockquote {
      background-color: var(--h_about-bg);
      padding: calc(var(--block-padding) / 1.5);
      border-radius: var(--border-radius);
      position: relative;
      margin-block: calc(var(--block-padding) / 2);
      display: flex;
      flex-direction: column;
      gap: 1rem;
      span {
        font-weight: 700;
        color: var(--h_about-heading-color);
      }
    }
  }
  .badges {
    position: relative;
    display: flex;
    list-style: 0;
    margin: 0;
    padding: 0;
    border-block-start: 1px dashed var(--border-color);
    margin-block-start: calc(var(--block-padding) / 2);
    padding-block-start: calc(var(--block-padding) / 2);
    gap: 0.5rem;
    .badge {
      --bs-badge-padding-x: 0.9em;
      --bs-badge-padding-y: 0.5em;      
    }
  }
  @media (width <=#{$medium}) {
    padding: 0;
    .blog-details-banner {
      border-radius: 0;
    }
  }
}