@import './../../mixins/common-mixins';

.career-page-section {
  --block-padding-y: calc(1rem + 1vw);
  position: relative;
  padding-block-end: calc(var(--block-padding-y) * 2);

  .career-page-content {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: var(--block-padding-y);
    max-width: 990px;
    margin-inline: auto;
    .__image {
      position: relative;
      width: 400px;
      height: 300px;
      @include objectFit($fit: contain);
      &::after {
        content: '';
        position: absolute;
        width: 100px;
        height: 2px;
        background-color: var(--accent);
        inset-inline-start: calc(50% - 50px);
      }
    }
  }
}