@import './../mixins/common-mixins';

@mixin headerSquareElement($size: var(--button-size)) {
  .square-element {
    width: #{$size};
    aspect-ratio: 1;
    display: grid;
    place-items: center;
    transition: var(--transition);
    cursor: pointer;
    border-radius: var(--border-radius);
    background-color: var(--list-bg);
    color: var(--list-color);
  }

  &:hover,
  &:is(.active),
  &:focus-within {
    .square-element {
      background-color: var(--list-hover-bg);
      color: var(--list-hover-color);
    }
  }
}

.main-header {
  --header-logo-height: calc(var(--header-height) - 15px);
  --gaps: calc(1.5rem + 1vw);
  --button-size-minus: 52px;
  --button-size: 45px;
  --list-bg: var(--body-bg);
  --list-color: var(--body-color);
  --list-hover-bg: var(--secondary);
  --list-hover-bg-rgb: var(--secondary-bg-rgb);
  --list-hover-color: var(--secondary-color);

  width: 100%;
  position: fixed;
  inset-block-start: 0;
  inset-inline-start: 0;
  border-block-end: 1px solid var(--border-color);
  z-index: var(--max-z-index);
  isolation: isolate;
  scroll-margin-top: var(--header-height);

  .nav-container-blur {
    position: absolute;
    inset: 0;
    background-color: rgba(var(--primary-100-rgb), 0.75);
    backdrop-filter: blur(12px);
    z-index: -1;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  @media (width < #{$medium}) {
    .container {
      --container-width: 100%;
    }
  }


  .main-sub-header {
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: space-between;

    .block {

      &__start,
      &__end {
        display: flex;
        align-items: center;
        gap: calc(var(--gaps) / 2);
        height: 100%;
      }

      &__start {
        @media (width > #{medium}) {
          width: 80%;
        }
      }
    }

    .header-logo {
      position: relative;
      flex-shrink: 0;
      max-width: 140px;
      display: block;
      @media screen and (width < #{$extraSmall}) {
        max-width: 90px;
      }
      picture {
        display: block;
        max-width: inherit;
        height: var(--header-logo-height);
        @include objectFit($fit: contain);
      }
    }
    @media screen and (width < #{$extraSmall}) {
      .getAssistanceBtn {
        font-size: 1rem;
        white-space: nowrap;
        --bs-btn-padding-x: 1rem;
        --bs-btn-padding-y: 0.6rem;
      }
    }
  }

  .navigation {
    position: relative;
    margin-inline-start: calc(var(--gaps) / 2);

    @media (width < #{$medium}) {
      display: none !important;
    }

    width: 100%;

    .menu {
      --menu-link-color: inherit;
      position: relative;
      display: flex;
      justify-content: space-around;
      gap: var(--gaps);
      font-family: var(--kanit-font);
      font-size: 1.1rem;
      width: 100%;

      &__list {
        position: relative;
        height: var(--header-height);
        display: flex;
        align-items: center;
        position: relative;
        white-space: nowrap;

        &.elite-button-menu {
          align-self: center;

          .elite-button {
            display: flex;
            width: 80px;
            @include objectFit($fit: contain);
            color: var(--accent);
            transition: var(--transition);

            &:hover {
              color: var(--secondary);
            }
          }
        }

        &__link {
          position: relative;
          display: inline-block;
          color: var(--menu-link-color);
        }

        &:not(.active):hover,
        &:is(.active) {
          --menu-link-color: var(--accent-bg);
        }

        &::after {
          content: '';
          position: absolute;
          width: 0;
          height: 5px;
          background-color: var(--accent-bg);
          inset-block-end: 0;
          inset-inline-end: 0;
          transition: var(--transition);
        }

        &:is(.active):after {
          width: 100%;
          inset-inline-start: 0;
        }
      }

      .sub-menu {
        position: absolute;
        inset-block-start: 0;
        display: none;
      }
    }
  }

  .navigation-mobile-view {
    --mobile-padding: 5vw;
    position: relative;
    @include headerSquareElement();

    @media (width >=#{$medium}) {
      display: none !important;
    }

    .mobile-menu-container {
      position: fixed;
      width: 100%;
      height: 100%;
      background-color: rgba(var(--bs-dark-rgb), 0.85);
      backdrop-filter: blur(5px);
      color: var(--bs-white);
      inset: 0;
      z-index: 1;
      padding: var(--mobile-padding);

      .close-icon {
        position: relative;
        width: 45px;
        height: 45px;
        display: grid;
        place-items: center;
        border-radius: var(--border-radius);
        margin-block-end: 1rem;
        background-color: rgba(var(--bs-danger-rgb), 0.2);
        color: var(--bs-danger);
        cursor: pointer;
        border: 1px solid var(--bs-danger);
        transition: var(--transition);
        margin-inline-start: auto;

        &:hover {
          color: var(--bs-white);
          background-color: var(--bs-danger);
        }
      }

      .menu {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: calc(var(--gaps) / 3);

        .sub-menu {
          display: none;
        }

        &__list {
          position: relative;

          &.elite-button-menu {
            align-self: center;
            width: 100%;
            background-color: rgba(var(--primary-100-rgb), 0.1);
            border-radius: var(--border-radius);
            padding: 0.9rem;

            .elite-button {
              display: flex;
              @include objectFit($fit: contain);
              color: var(--accent);
              transition: var(--transition);
              width: 100%;
              height: 50px;

              &:hover {
                color: var(--secondary);
              }
            }
          }

          &__link {
            position: relative;
            display: flex;
            padding: 0.9rem;
            transition: var(--transition);
            font-size: var(--font-size-5);
            background-color: rgba(var(--primary-100-rgb), 0.1);
            border-radius: var(--border-radius);
            border: 0;
            line-height: calc(var(--font-size-5) * 1);
            overflow: clip;

            &:not(.active):hover,
            &:is(.active) {
              background-color: var(--accent-bg);
              color: var(--accent-color);
            }

            &:is(.active) {
              padding-inline-start: 1.5rem;
              font-weight: 700;

              &::after {
                content: '\f621';
                position: absolute;
                inset-inline-end: 0.75rem;
                @include fontAwesome();
                font-size: 0.85rem;
                line-height: 1.5rem;
                width: 25px;
                height: 25px;
                text-align: center;
              }

              &::before {
                content: '';
                position: absolute;
                width: 6px;
                height: 100%;
                background-color: var(--accent-color);
                inset-inline-start: 0;
                inset-block-start: 0;
                opacity: 0.6;
                transition: var(--transition);
              }
            }
          }
        }
      }
    }
  }

  .theme-n-lang {
    position: relative;
    display: flex;
    gap: calc(var(--gaps) / 4);

    &__list {
      position: relative;
      @include headerSquareElement();
    }

    .theme-n-lang__menu {
      position: absolute;
      white-space: nowrap;
      inset-block-start: calc(100% + (var(--button-size-minus) / 2) + 2px);
      left: 50%;
      transform: translateX(-50%);
      overflow: clip;
      border-radius: var(--border-radius);
      box-shadow: var(--box-shadow);
      display: flex;
      flex-direction: column;
      padding: 0.2rem;
      gap: 0.1rem;
      background-color: rgba(var(--body-bg-rgb), 0.7);
      backdrop-filter: blur(5px);

      &:hover,
      &:is(.active) {
        box-shadow: var(--box-shadow), 0 0 0 1px var(--list-hover-bg);
      }

      &__list {
        position: relative;
        display: flex;
        align-items: center;
        gap: 0.25rem;
        height: calc(var(--button-size) - 5px);
        padding-inline: 0.35rem 1rem;
        border-radius: var(--border-radius);
        cursor: pointer;

        i {
          height: inherit;
          aspect-ratio: 1;
          flex-shrink: 0;
          display: grid;
          place-items: center;
        }

        &:is(.active) {
          font-weight: 700;
          background-color: var(--list-hover-bg);
          color: var(--list-hover-color);
        }

        &:not(.active):hover {
          background-color: var(--primary-100);
          color: var(--list-hover-bg);
        }
      }
    }
  }
}