@import './../../mixins/common-mixins';
.home-maps-section {
  --block-padding-y: calc(1rem + 1vw);
  --map-height: 420px;
  --map-margin-height: calc(var(--map-height) / 2);
  position: relative;
  padding-block: var(--block-padding-y);
  > .container {
    position: relative;
    z-index: 1;
  }

  .home-maps-content {
    position: relative;
    .section-header {
      margin-block-end: var(--block-padding-y);
      .title {
        text-wrap: balance;
      }
    }
    .home-maps {
      position: relative;
      background-color: var(--border-color);
      height: var(--map-height);
      border-radius: calc(var(--border-radius) * 2);
    }
  }
  .home-features-section {
    position: relative;
    width: 100%;
    margin-block-start: calc(0px - var(--map-margin-height));
    padding-block-start: calc(var(--map-margin-height) + var(--block-padding-y));
    padding-block-end: calc(var(--block-padding-y) * 1.5);
    z-index: 0;
    color: var(--bs-white);
    isolation: isolate;
    &::before, &::after {
      content: '';
      position: absolute;
      inset: 0 var(--fluid-container-padding);
      background-color: var(--secondary);
      z-index: -1;
      border-radius: calc(var(--border-radius) * 3);
    }
    &::after {
      background-image: url('/images/airplane-landing.png');
      background-position: center;
      background-size: cover;
      background-blend-mode: luminosity;
      background-attachment: fixed;
      opacity: 0.15;
      z-index: 0;
    }
    .container { z-index: 1; position: relative; }
    .home-features-content {
      position: relative;
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: var(--block-padding-y);
      padding-block-start: var(--block-padding-y);
      
      .features-cards {
        --grid-columns: 3;
        position: relative;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(var(--grid-columns), 1fr);
        gap: var(--block-padding-y);

        .features-card {
          position: relative;
          display: flex;
          flex-direction: column;
          gap: calc(var(--block-padding-y) / 2);
          &__icon {
            width: 90px;
            aspect-ratio: 1;
            position: relative;
            margin-block-end: calc(var(--block-padding-y) / 2);
            svg {
              width: 100%;
              height: 100%;
            }
          }
          &__content {
            position: relative;
          }
        }
      }
    }
  }
}