@import './../../mixins/common-mixins';

.home-clients-section {
  --block-padding-y: calc(1rem + 1vw);
  position: relative;
  padding-block: var(--block-padding-y) calc(var(--block-padding-y) / 2);
  background-color: var(--primary-100);
  
  .home-clients-content {
    --logo-size: 80px;
    position: relative;
    width: 100%;
    .client-logo-box {
      position: relative;
      width: calc(var(--logo-size) * 2.65);
      height: var(--logo-size);
      overflow: clip;
      border-radius: calc(var(--border-radius) * 1.5);
      @include objectFit($fit: contain);
    }
    .clients-logo-swiper, .clients-logo {
      --swiper-pagination-top: calc(100% - 10px);
      --swiper-theme-color: var(--accent);
      padding-block-end: calc(var(--block-padding-y) / 1);
      .swiper-horizontal>.swiper-pagination-bullets,
      .swiper-pagination-bullets.swiper-pagination-horizontal {
        height: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .clients-logo {
      display: flex;
      justify-content: center;
      gap: 1rem;
      padding-block-end: calc(var(--block-padding-y) / 2);
    }
  }
}