@import './../../mixins/common-mixins';
.home-maps-section {
  --block-padding: calc(1rem + 1vw);
  --map-height: 500px;
  --anchor-size: 15px;
  --anchor-details-width: calc(250px + 5vw);
  --anchor-circle-bg: var(--accent);
  --anchor-circle-bg-rgb: var(--accent-rgb);
  --map-margin-height: calc(var(--map-height) / 2);
  --map-svg-fill-bg: red;
  position: relative;
  padding-block: var(--block-padding);

  > .container {
    position: relative;
    z-index: 1;
  }

  .home-maps-content {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--primary-100);
    border-radius: calc(var(--border-radius) * 2);
    @media (width <= #{$small}) {
      flex-direction: column;
      --map-height: 550px;
    }

    .home-maps {
      position: relative;
      width: 100%;
      background-color: var(--map-bg);
      padding: 1.5rem;
      z-index: 1;
      border-radius: 0 0 calc(var(--border-radius) * 2) calc(var(--border-radius) * 2);

      .home-regional-map-container {
        --show-details: grid;
        position: relative;
        display: flex;
        width: calc(var(--map-height) * 1.1);
        height: var(--map-height);
        margin: auto;
        @media screen and (max-width: 768px) {
          display: none !important;
        }
    
        svg {
          width: 100%;
          height: 100%;
          object-fit: contain;
          object-position: center;
          color: var(--map-svg-fill-bg);
    
          path {
            fill: rgba(var(--primary-100-rgb), 0.85);
            stroke: rgba(var(--secondary-rgb), 0.5);
            stroke-width: 2;
          }
    
          g {
            fill: var(--map-svg-fill-bg);
          }
        }
        .anchors {
          position: absolute;
          margin: 0;
          padding: 0;
          inset: 0;
          list-style: none;
          &__list {
            position: absolute;
            inset-block-start: var(--axis-y);
            inset-inline-start: var(--axis-x);
            width: var(--anchor-size);
            height: var(--anchor-size);
            cursor: pointer;
            .pointer {
              width: 100%;
              height: 100%;
              border-radius: var(--anchor-size);
              background-color: var(--anchor-circle-bg);
              position: absolute;
              transform-origin: center;
              transition: var(--transition);
              &::after, &::before {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                border-radius: 50%;
                border: 1px solid rgba(var(--anchor-circle-bg-rgb), 0.5);
                animation: bubble 2.5s infinite;
                opacity: 0;
              }
            }
            &::after { animation-delay: 0s; }
            &::before {  animation-delay: 0.8s; }
            &:hover, &:is(.active, .selected) {
              --anchor-circle-bg: var(--secondary);
              --anchor-circle-bg-rgb: var(--secondary-rgb);
              z-index: 1;
              .pointer { scale: 1.5; }
            }
            .anchor-details {
              display: var(--show-details);
              position: absolute;
              background-color: var(--primary-100);
              width: max-content;
              min-width: 200px;
              max-width: var(--anchor-details-width);
              border-radius: var(--border-radius);
              padding: 1rem;
              inset-inline-start: calc(100% + var(--anchor-size));
              inset-block-start: -1rem;
              box-shadow: var(--box-shadow);
              border: 1px solid var(--accent);
              &::after {
                content: '';
                position: absolute;
                inset-inline-end: 100%;
                inset-block-start: 0.8rem;
                border-block-start: 10px solid transparent;
                border-block-end: 10px solid transparent;
                border-inline-end: 10px solid var(--accent);
              }
              @media  screen and (max-width: 991px) {
                inset-inline-start: calc(50% - calc(var(--anchor-details-width) / 2));
                inset-block-start: 1.85rem;
                &::after {
                  inset-inline-end: initial;
                  inset-inline-start: calc(50% - 10px);
                  inset-block-start: initial;
                  inset-block-end: 100%;
                  border-inline-start: 10px solid transparent;
                  border-inline-end: 10px solid transparent;
                  border-block-end: 10px solid var(--accent);
                }
              }
              
              span.close-button {
                position: absolute;
                inset-inline-end: -1px;
                inset-block-start: -1px;
                width: 32px;
                height: 32px;
                color: var(--bs-danger);
                font-size: 0.95rem;
                display: grid;
                place-items: center;
                border-radius: var(--border-radius);
                transition: var(--transition);
                &:hover {
                  background-color: rgba(var(--bs-danger-rgb), 0.15);
                }
              }
              ._title {
                font-family: var(--merriweather-font);
                font-weight: 700;
                color: var(--secondary);
              }
              p { margin-block-end: 0.5rem; }
              .service-list {
                position: relative;
                display: flex;
                list-style: none;
                margin: 0 0 0.5rem;
                padding: 0;
                gap: 0.5rem;
                &__item {
                  position: relative;
                  width: 45px;
                  height: 45px;
                  color: var(--secondary);
                  font-size: 1.2rem;
                  background-color: rgba(var(--primary-300-rgb), 0.25);
                  border-radius: var(--border-radius);
                  display: grid;
                  place-items: center;
                  transition: var(--transition);
                  &:hover {
                    background-color: rgba(var(--secondary-rgb), 0.2);
                  }
                }
              }
              .link-view-details {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                padding-inline: 0.8rem;
                padding-block: 0.3rem;
                border-radius: var(--border-radius);
                font-weight: 700;
                color: var(--accent);
                border: 1px solid rgba(var(--accent-rgb), 0.5);
                background-color: rgba(var(--accent-rgb), 0.15);
                transition: var(--transition);
                &:hover {
                  background-color: var(--accent);
                  color: var(--accent-color);
                }
              }
            }
          }
        }
        hr {
          width: 100%;
          border: 0;
          margin-block: 0.6rem;
          border-top: 1px solid rgba(var(--body-color-rgb), 0.5);
        }
      }
      .regional-maps-mobile-section {
        position: relative;

        .regional-maps-mobile-card {
          position: relative;
          list-style: none;
          margin: 0;
          padding: 0 var(--mobile-padding) var(--mobile-padding);
          display: flex;
          gap: var(--mobile-padding);
          overflow-x: scroll;
          &__list {
            background-color: var(--primary-100);
            width: 75vw;
            min-width: 250px;
            display: flex;
            flex-direction: column;
            flex: 1 0 auto;
            padding: var(--mobile-padding);
            border-radius: calc(var(--border-radius) * 1.5);
            .__header {
              display: flex;
              align-items: center;
              gap: var(--mobile-padding);
              margin-block-end: var(--mobile-padding);
            }

            .__icon {
              position: relative;
              flex-shrink: 0;
              width: 50px;
              height: 50px;
              display: grid;
              place-items: center;
              font-size: calc(var(--font-size-1) * 1.3);
            }
            .view-details {
              display: block;
              height: 40px;
              line-height: 40px;
              background-color: var(--accent);
              color: var(--accent-color);
              margin: 0;
              border-radius: var(--border-radius);
              text-align: center;
              margin-block-start: auto;              
              text-transform: uppercase;
              font-weight: 500;
              letter-spacing: 0.15rem;
            }
          }
        }
        @media screen and (min-width: 768px) {
          display: none !important;
        }
      }
      @media screen and (max-width: 768px) {
        padding-inline: 0;
        padding-block-end: calc(var(--mobile-padding) / 3);
        width: 100vw;
      }
    }
    .__content {
      position: relative;
      padding-inline: calc(var(--block-padding) / 1);
      padding-block: calc(var(--block-padding) / 1.5);
      width: 100%;
      display: flex;
      align-content: center;
      align-items: center;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: calc(var(--block-padding) / 2);
      // @media (width <=#{$medium}) and (width > #{$small}) {
      //   max-width: calc(200px + 2vw);
      // }
      // @media (width <=#{$small}) {
      //   max-width: 100%;
      //   width: 100%;
      //   background-color: red;
      // }
    }
    .am5-layer-30 {
      display: none !important;
    }
  }
  .home-features-section {
    position: relative;
    width: 100%;
    margin-block-start: calc(0px - var(--map-margin-height));
    padding-block-start: calc(var(--map-margin-height) + var(--block-padding));
    padding-block-end: calc(var(--block-padding) * 1.5);
    z-index: 0;
    color: var(--bs-white);
    isolation: isolate;
    &::before, &::after {
      content: '';
      position: absolute;
      inset: 0 var(--fluid-container-padding);
      background-color: var(--secondary);
      z-index: -1;
      border-radius: calc(var(--border-radius) * 3);
      @media (width <= #{$medium}) {
        --fluid-container-padding: 0;
        border-radius: 0;
      }
    }
    &::after {
      background-image: url('/images/airplane-landing.png');
      background-position: center;
      background-size: cover;
      background-blend-mode: luminosity;
      background-attachment: fixed;
      opacity: 0.15;
      z-index: 0;
    }
    .container { z-index: 1; position: relative; }
    .home-features-content {
      position: relative;
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: var(--block-padding);
      padding-block-start: var(--block-padding);
      
      .features-cards {
        --grid-columns: 3;
        position: relative;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(var(--grid-columns), 1fr);
        gap: var(--block-padding);

        @media (width <=#{$small}) {
          width: 100vw;
          margin-inline: calc(0px - var(--mobile-padding));
          padding-inline: var(--mobile-padding);
          overflow-x: scroll;
      
          .features-card {
            min-width: 75vw;
            background-color: rgba(var(--bs-white-rgb), 0.1);
            padding: calc(var(--mobile-padding) * 1.25);
            border-radius: calc(var(--border-radius) * 1.5);
          }
        }

        .features-card {
          position: relative;
          display: flex;
          align-items: center;
          text-align: center;
          flex-direction: column;
          gap: calc(var(--block-padding) / 2);
          &__icon {
            width: 90px;
            aspect-ratio: 1;
            position: relative;
            margin-block-end: calc(var(--block-padding) / 2);
            svg {
              width: 100%;
              height: 100%;
            }
          }
          &__content {
            position: relative;
          }
        }
      }
    }
  }
}

@keyframes bubble {
  0% { transform: scale(0.5); opacity: 1; }
  100% { transform: scale(3); opacity: 0; }
}
