@import './../../mixins/common-mixins';

.home-banner-section {
  --slider-height: calc(400px + 3vw);
  --swiper-theme-color: var(--accent);
  --swiper-pagination-progressbar-size: 5px;
  --slider-border-radius: calc(var(--border-radius) * 2);
  position: relative;
  padding-block: calc(0.5rem + 0.5vw);
  padding-inline: var(--fluid-container-padding);
  
  @media (width < #{$large}) {
    --slider-height: calc(360px + 3vw);
  }
  @media (width < #{$medium}) {
    --slider-height: calc(300px + 3vw);
    --fluid-container-padding: 0;
    --slider-border-radius: 0;
    padding: 0;
  }

  .home-swiper-slider {    
    position: relative;
    border-radius: var(--slider-border-radius);
    background-color: var(--primary-300);

    .swiper-horizontal>.swiper-pagination-progressbar,
    .swiper-pagination-progressbar.swiper-pagination-horizontal {
      top: calc(100% - var(--swiper-pagination-progressbar-size));
    }
    
    &__slide {
      position: relative;
      width: 100%;
      height: var(--slider-height);
      border-radius: inherit;
      overflow: clip;
      .slide-image {
        position: relative;
        width: 100%;
        height: 100%;
        @include objectFit($fit: cover);
        &::after {
          content: '';
          position: absolute;
          inset: 0;
        }
      }
      .slider-content {
        --gaps: calc(1rem + 1.5vw);
        position: absolute;
        inset: 0;
        .container {
          height: 100%;
          max-width: 100%;
          display: flex;
          align-items: flex-end;
          padding-inline: 0;
        }
        &__text {
          --gradient-direction: 90deg;
          &[dir="rtl"] { --gradient-direction: -90deg; }
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          gap: 1rem;
          background-color: rgba(var(--bs-black-rgb), 0.45);
          background: linear-gradient(var(--gradient-direction), rgba(var(--bs-black-rgb), 0.85) 0%, rgba(var(--bs-black-rgb), 0) 60%);
          color:var(--bs-white);
          padding-inline: var(--gaps);
          padding-block: var(--gaps);
          .title {
            --bs-highlight-bg: rgba(var(--bs-dark-rgb), 0.85);
            --bs-highlight-color: var(--bs-white);
            max-width: 600px;
            text-wrap: balance;
          }
        }
      }
    }
  }
}